# Logs
*.log
logs/

# Dependency directories
node_modules

# Environment variables
.env
.env.*

# OS-specific files
Thumbs.db           
desktop.ini        

# IDE/Editor directories
.vscode/            